.movieTitle {
  font-size: larger;
  font-weight: 600;
  margin: 1rem;
}

.movieInfo {
  margin: 2rem;
}

.movieInfo p {
  font-weight: 600;
  margin-right: 1rem;
}

.movieInfoTabs {
  height: 19rem;
}

.movieRatings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid black;
  box-shadow: 0rem 0rem 1rem #7c7a7a;
}

.movieRatings p {
  font-size: 1.2rem;
  font-weight: bold;
}

.movieRatings .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.ant-divider-vertical {
  box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.1);
  height: auto;
}
