.searchBar {
  width: 50vh;
  margin-right: 8rem;
}

.container {
  margin: 0;
}

.container h1 {
  font-size: 3rem;
  color: rgb(35, 35, 37);
  text-shadow: 1px 1px #0b0b0b;
  margin-left: 1rem;
}

.cardStyle {
  width: 16rem;
  height: auto;
  margin: 1rem;
}
