/* .container {
    background-color: yellow;
  }
  
  .heading {
    font-size: 50px;
    color: rgb(35, 35, 37);
    text-shadow: 1px 1px #0b0b0b;
  }
  
  .gutter-row {
    background-color: #f0f0f0;
  } */